@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var page = Umbraco.Content(1062);
}

<section id="books">
    <div class="container-fluid">
        @page.GetGridHtml("content")
    </div>
</section>


