@inherits Umbraco.Web.Macros.PartialViewMacroPage

	<p class="text-center" style="font-size:45px;">
<a href="https://twitter.com/endalzoneday" target="_blank" class="social">
								<i class="fa fa-twitter" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
									
									<a href="https://www.facebook.com/endalzoneday/" target="_blank" class="social">
								<i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
									
									<a href="https://instagram.com/endalzoneday" target="_blank" class="social">
								<i class="fa fa-instagram" aria-hidden="true"></i></a> </p>